@import 'tailwindcss';

:root{
  --main-bg: #16171d;
  --gradientcolor: #120b0c;
}


body{
background: radial-gradient(ellipse 740px 580px at 90% 7%,#29040c62,transparent),radial-gradient(ellipse 420px 460px at 2% 20%,#20202080,transparent),#090909;
color: #f8f8f8;
background-attachment: fixed;
background-repeat: no-repeat;
}  


.banner-color{
  background-size: 200% 200%;
  animation: banner-color 12s ease-in-out infinite;
}

@keyframes banner-color {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

@
